/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
	width: 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: #fffff;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card1-container.card {
    max-width: 550px;
    padding: 40px 40px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.navbar {
	background-color: #51b9e5;
}

#header {
  background: #3eb1e2;
  border-bottom: 3px solid #20a0d7;
}
#header .navbar-brand {
  font-family: 'gotham_boldregular', sans-serif;
  text-transform: uppercase;
  padding: 0;
  height: 53px;
  line-height: 54px;
  color: #ffffff;
  margin: 0;
  float: none;
  text-align: center;
}
#header .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.5);
}
#header .navbar {
  background: none;
  border: 0;
  margin-bottom: 0;
}
#header .navbar img {
  width: 83%;
  position: relative;
  top: 3px;
}
#header .navbar-nav li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#header .navbar-nav li a {
  color: #ffffff;
  padding: 20px 20px 19px 20px;
  font-size: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#header .navbar-nav li a .fa {
  text-shadow: 0 0 0 transparent;
  font-size: 13px;
  margin-left: 4px;
}
#header .navbar-nav li a:hover {
  background: #20a0d7;
}
#header .navbar-nav li > ul.dropdown-menu {
  padding: 0;
  border: 0;
  border-bottom: 3px solid #ff6699;
  border-radius: 0;
  min-width: 200px;
}
#header .navbar-nav li > ul.dropdown-menu li {
  margin: 0;
}
#header .navbar-nav li > ul.dropdown-menu li a {
  box-shadow: 0 0 0 transparent;
  color: #333333;
  text-shadow: 0 0 0 transparent;
  padding: 12px 18px;
}
#header .navbar-nav li > ul.dropdown-menu li a:hover {
  background: #f9f9f9;
}
#header .navbar-nav li.link-submit a {
  background: none;
}
#header .navbar-nav li.link-submit a:hover {
  background: #ff6699;
}
#header .navbar-nav li.link-submit.open {
  background: #ff6699;
}
#header .navbar-nav li.link-submit .link-story:hover {
  background: #f9f9f9;
}
#header .navbar-nav li.link-submit .link-story a {
  background: url('../img/icon-fga.png') no-repeat right 8px;
  margin-right: 12px;
}
#header .navbar-nav li.link-submit .link-story a:hover {
  background: url('../img/icon-fga.png') no-repeat right 8px #f9f9f9;
}
#header .navbar-nav li.link-login a {
  background: none;
}
#header .navbar-nav li.link-login a:hover {
  background: #20a0d7;
}
#header .navbar-nav li.link-register a {
  background: #ff6699;
  border-bottom: 3px solid #ff3d7e;
  margin-bottom: -3px;
}
#header .navbar-nav li.link-register a:hover {
  background: #ff3d7e;
  border-bottom: 3px solid #ff6699;
}
#header .navbar-nav.social-media {
  margin-top: 4px;
  margin-right: 12px;
}
#header .navbar-nav.social-media li {
  border: 0;
}
#header .navbar-nav.social-media li a {
  padding: 17px 12px 14px;
  opacity: .3;
}
#header .navbar-nav.social-media li a i {
  font-size: 20px;
}
#header .navbar-nav.social-media li a:hover {
  opacity: 1;
  background: none;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #username,
.form-signin #password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin select,
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #008ae6;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.new-account {
    color: rgb(104, 145, 162);
}

.new-account:hover,
.new-account:active,
.new-account:focus{
    color: rgb(12, 97, 33);
}
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}